<a href="https://colab.research.google.com/github/NguyenTruongV/data_analysis_deep-learning/blob/main/Bai_1_Tien_xu_ly_du_lieu/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('dulieuxettuyendaihoc.csv', index_col='STT')
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [13]:
df.tail(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

Xử lý dự liệu thiếu

In [14]:
df['DT'].isna().sum()
df['DT'].value_counts(dropna=False)
df['DT'].nunique(dropna=False)

3

In [15]:
df['DT'] = df['DT'].fillna(0)

Xử lý dữ liệu thiếu – biến T1 (Mean)

In [16]:
df['T1'].isna().sum()
df['T1'].describe()

count    100.000000
mean       5.946000
std        1.608338
min        2.400000
25%        5.000000
50%        5.850000
75%        7.200000
max        9.300000
Name: T1, dtype: float64

In [17]:
mean_T1 = df['T1'].mean()
df['T1'] = df['T1'].fillna(mean_T1)

Xử lý dữ liệu thiếu cho TẤT CẢ biến điểm còn lại

In [18]:
score_cols = [
    'T1','L1','H1','S1','V1','X1','D1','N1',
    'T2','L2','H2','S2','V2','X2','D2','N2',
    'T3','L3','H3','S3','V3','X3','D3','N3'
]

for col in score_cols:
    df[col] = df[col].fillna(df[col].mean())

Tạo TBM1, TBM2, TBM3

In [19]:
def calc_TBM(T, L, H, S, V, X, D, N):
    return (T*2 + L + H + S + V*2 + X + D + N) / 10

df['TBM1'] = calc_TBM(df['T1'], df['L1'], df['H1'], df['S1'],
                      df['V1'], df['X1'], df['D1'], df['N1'])

df['TBM2'] = calc_TBM(df['T2'], df['L2'], df['H2'], df['S2'],
                      df['V2'], df['X2'], df['D2'], df['N2'])

df['TBM3'] = calc_TBM(df['T3'], df['L3'], df['H3'], df['S3'],
                      df['V3'], df['X3'], df['D3'], df['N3'])

Xếp loại học lực

In [20]:
def xeploai(tbm):
  if tbm >= 8:
    return "Giỏi"
  elif tbm >= 6.5:
    return "Khá"
  elif tbm >= 5:
    return "Trung Bình"
  else:
    return "Yếu"

In [21]:
df['XL1'] = df['TBM1'].apply(xeploai)
df['XL2'] = df['TBM2'].apply(xeploai)
df['XL3'] = df['TBM3'].apply(xeploai)

In [22]:
def ketqua(row):
    if row['KT'] in ['A', 'A1']:
        return 1 if (row['DH1']*2 + row['DH2'] + row['DH3'])/4 >= 5 else 0
    elif row['KT'] == 'B':
        return 1 if (row['DH1'] + row['DH2']*2 + row['DH3'])/4 >= 5 else 0
    else:
        return 1 if (row['DH1'] + row['DH2'] + row['DH3'])/3 >= 5 else 0

In [23]:
import pandas as pd

df = pd.read_csv('/content/dulieuxettuyendaihoc.csv')

In [24]:
df['KQXT'] = df.apply(ketqua, axis=1)
df[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']].head()

   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0

Buoc 10

In [25]:
df[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']].head()

   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0

In [26]:
df.to_csv('/content/processed_dulieuxettuyendaihoc.csv', index=False)

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive