<a href="https://colab.research.google.com/github/NguyenTruongV/data_analysis_deep-learning/blob/main/Bai_3_Lam_sach_du_lieu/buoi3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("patient_heart_rate.csv", header=None, engine="python",on_bad_lines="skip")
df.head(16)

       0               1     2           3    4     5     6     7     8     9
0    1.0    Mickéy Mousé  56.0       70kgs   72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs    -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN    -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs   78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs    -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs    -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs   78    76    75     -     -     -
8    NaN             NaN   NaN         NaN  NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN  NaN  None  None  None  None  None
10   9.0     Huey McDuck  52.0      189lbs    -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs    -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs   78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN   65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN    -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs    -     -     -    68    75    72

Thêm header vào dataframe để diễn giải dữ liệu

In [19]:
column_names = ["Id", "Name", "Age", "Weight" ,"m0006","m0612","m1218","f0006","f0612","f1218"]
# đọc file dữ liệu
df = pd.read_csv("patient_heart_rate.csv", header=None, engine="python",on_bad_lines="skip",names = column_names)
# hiển thị một vài dòng dữ liệu đầu tiên ra màn hình
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

 Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [20]:
df[["Firstname","Lastname"]] = df["Name"].str.split(expand=True)
df = df.drop("Name",axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN  None  None  None  None  None       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [23]:
weight = df[ 'Weight']
for i in range (0 ,len(weight)) :
    x= str(weight [i])
    #Incase ibs is part of observation renove it
    if "lbs" in x[-3:]:
      #Renove the tbs from the value
      x = x[:-3:]
      #Convert string to float
      float_x = float(x)
      #Covert to kgs and store as int y =int (float_x/2.2)
      #Convert back to string
      # đổi lbs -> kgs
      y = round(float_x / 2.2, 2)
      # gán lại
      weight[i] = str(y) + "kgs"
print(df)

      Id   Age    Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0     70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   70.4kgs     -     -     -    85    84    76    Donald
2    3.0  16.0       NaN     -     -     -    65    69    72      Mini
3    4.0   NaN     78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0   90.3kgs     -     -     -    69   NaN    75      Pink
5    6.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
6    7.0  19.0     56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0     78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN       NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN       NaN   NaN  None  None  None  None  None       NaN
10   9.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
11  10.0  12.0     45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN     60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0       NaN    65    67    55     -     -     -    Michel
14  13.0   NaN       NaN     -     -     -    68    72    70      Tana
15  15.0  52.0  81.82kgs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

/tmp/ipython-input-2836657364.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(y) + "kgs"
/tmp/ipython-input-2836657364.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(y) + "kgs"
/tmp/ipython-input-2836657364.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(y) + "kgs"
/tmp/ipython-input-2836657364.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(y) + "kgs"
/tmp/ipython-input-2836657364.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = str(y) + "kgs"

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [25]:
df.dropna(how="all",inplace=True)
print(df)

      Id   Age    Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0     70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   70.4kgs     -     -     -    85    84    76    Donald
2    3.0  16.0       NaN     -     -     -    65    69    72      Mini
3    4.0   NaN     78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0   90.3kgs     -     -     -    69   NaN    75      Pink
5    6.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
6    7.0  19.0     56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0     78kgs    78    76    75     -     -     -    Scööpy
10   9.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
11  10.0  12.0     45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN     60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0       NaN    65    67    55     -     -     -    Michel
14  13.0   NaN       NaN     -     -     -    68    72    70      Tana
15  15.0  52.0  81.82kgs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý

In [26]:
df = df.drop_duplicates(subset=["Firstname","Lastname","Age","Weight"])
print(df)

      Id   Age    Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0     70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   70.4kgs     -     -     -    85    84    76    Donald
2    3.0  16.0       NaN     -     -     -    65    69    72      Mini
3    4.0   NaN     78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0   90.3kgs     -     -     -    69   NaN    75      Pink
5    6.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
6    7.0  19.0     56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0     78kgs    78    76    75     -     -     -    Scööpy
11  10.0  12.0     45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN     60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0       NaN    65    67    55     -     -     -    Michel
14  13.0   NaN       NaN     -     -     -    68    72    70      Tana
15  15.0  52.0  81.82kgs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

 Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [27]:
df["Firstname"].replace(
    {r"[^\x00-\x7F]+": "*"},
    regex=True,
    inplace=True
)

df["Lastname"].replace(
    {r"[^\x00-\x7F]+": "*"},
    regex=True,
    inplace=True
)

print(df)

      Id   Age    Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0     70kgs    72    69    71     -     -     -    Mick*y
1    2.0  34.0   70.4kgs     -     -     -    85    84    76    Donald
2    3.0  16.0       NaN     -     -     -    65    69    72      Mini
3    4.0   NaN     78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0   90.3kgs     -     -     -    69   NaN    75      Pink
5    6.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
6    7.0  19.0     56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0     78kgs    78    76    75     -     -     -     Sc*py
11  10.0  12.0     45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN     60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0       NaN    65    67    55     -     -     -    Michel
14  13.0   NaN       NaN     -     -     -    68    72    70      Tana
15  15.0  52.0  81.82kgs     -     -     -    68    75    72       NaN

   Lastname
0     Mous*
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

/tmp/ipython-input-3290659812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Firstname"].replace(
/tmp/ipython-input-3290659812.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Lastname"].replace(

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa đề xuất từ chuyên gia như sau:
a.	Deletion: Remove records with missing values
b.	Dummy substitution: Replace missing values with a dummy but valid value: e.g.: 0 for numerical values.
c.	Mean substitution: Replace the missing values with the mean.
d.	Frequent substitution: Replace the missing values with the most frequent item.
e.	Improve the data collector: Your business folk will talk to the clients and inform them about why it is worth fixing the problem with the data collector.
……
Yêu cầu:
-	Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight  
-	Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng o Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [28]:
# 1. Thống kê dữ liệu thiếu
print("Missing values before processing:")
print(df[['Age', 'Weight']].isna().sum())

# 2. Xóa dòng thiếu cả Age và Weight
df = df.dropna(subset=['Age', 'Weight'], how='all')

# 3. Tính mean của Age
mean_age = df['Age'].mean()

# 4. Thay thế Age bị thiếu bằng mean
df['Age'].fillna(mean_age, inplace=True)

# 5. (Tuỳ chọn) Nếu muốn xử lý Weight bằng mean thì mở dòng dưới
# mean_weight = df['Weight'].mean()
# df['Weight'].fillna(mean_weight, inplace=True)

# 6. Kiểm tra lại sau xử lý
print("\nMissing values after processing:")
print(df[['Age', 'Weight']].isna().sum())

print("\nData after cleaning:")
print(df)

Missing values before processing:
Age       3
Weight    3
dtype: int64

Missing values after processing:
Age       0
Weight    2
dtype: int64

Data after cleaning:
      Id   Age    Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0     70kgs    72    69    71     -     -     -    Mick*y
1    2.0  34.0   70.4kgs     -     -     -    85    84    76    Donald
2    3.0  16.0       NaN     -     -     -    65    69    72      Mini
3    4.0  36.1     78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0   90.3kgs     -     -     -    69   NaN    75      Pink
5    6.0  52.0  85.91kgs     -     -     -    68    75    72      Huey
6    7.0  19.0     56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0     78kgs    78    76    75     -     -     -     Sc*py
11  10.0  12.0     45kgs     -     -     -    92    95    87     Louie
12  11.0  36.1     60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0       NaN    65    67    55     -     -     -    Michel
15  15.0  52.0  81.82kgs     -     -     -    68    75    72       NaN

   Lastname
0     Mous*
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
15      NaN

/tmp/ipython-input-1489761834.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mean_age, inplace=True)

10.	Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd). Còn giá trị thì là kết quả huyết áp.

In [29]:
# Melt the Sex + time range columns into a single column
df = pd.melt(
    df,
    id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
    value_name='Pulserate',
    var_name='sex_and_time'
).sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

# Extract Sex, hours lower and hours upper
tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d+)(\d+)', expand=True)

# Name columns
tmp_df.columns = ['Sex', 'hours_lower', 'hours_upper']

# Create Time column based on hours_lower and hours_upper
tmp_df['Time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']

# Merge
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna()

# Export cleaned data
df.to_csv('outputcleanup.csv', index=False)

print(df)

      Id   Age    Weight Firstname Lastname Pulserate Sex   Time
0    1.0  56.0     70kgs    Mick*y    Mous*        72   m  000-6
12   1.0  56.0     70kgs    Mick*y    Mous*        69   m  061-2
24   1.0  56.0     70kgs    Mick*y    Mous*        71   m  121-8
36   1.0  56.0     70kgs    Mick*y    Mous*         -   f  000-6
48   1.0  56.0     70kgs    Mick*y    Mous*         -   f  061-2
60   1.0  56.0     70kgs    Mick*y    Mous*         -   f  121-8
1    2.0  34.0   70.4kgs    Donald     Duck         -   m  000-6
13   2.0  34.0   70.4kgs    Donald     Duck         -   m  061-2
25   2.0  34.0   70.4kgs    Donald     Duck         -   m  121-8
37   2.0  34.0   70.4kgs    Donald     Duck        85   f  000-6
49   2.0  34.0   70.4kgs    Donald     Duck        84   f  061-2
61   2.0  34.0   70.4kgs    Donald     Duck        76   f  121-8
3    4.0  36.1     78kgs   Scrooge   McDuck        78   m  000-6
15   4.0  36.1     78kgs   Scrooge   McDuck        79   m  061-2
27   4.0  36.1     78kgs   Scrooge   McDuck        72   m  121-8
39   4.0  36.1     78kgs   Scrooge   McDuck         -   f  000-6
51   4.0  36.1     78kgs   Scrooge   McDuck         -   f  061-2
63   4.0  36.1     78kgs   Scrooge   McDuck         -   f  121-8
4    5.0  54.0   90.3kgs      Pink  Panther         -   m  000-6
16   5.0  54.0   90.3kgs      Pink  Panther         -   m  061-2
28   5.0  54.0   90.3kgs      Pink  Panther         -   m  121-8
40   5.0  54.0   90.3kgs      Pink  Panther        69   f  000-6
64   5.0  54.0   90.3kgs      Pink  Panther        75   f  121-8
5    6.0  52.0  85.91kgs      Huey   McDuck         -   m  000-6
17   6.0  52.0  85.91kgs      Huey   McDuck         -   m  061-2
29   6.0  52.0  85.91kgs      Huey   McDuck         -   m  121-8
41   6.0  52.0  85.91kgs      Huey   McDuck        68   f  000-6
53   6.0  52.0  85.91kgs      Huey   McDuck        75   f  061-2
65   6.0  52.0  85.91kgs      Huey   McDuck        72   f  121-8
6    7.0  19.0     56kgs     Dewey   McDuck         -   m  000-6
18   7.0  19.0     56kgs     Dewey   McDuck         -   m  061-2
30   7.0  19.0     56kgs     Dewey   McDuck         -   m  121-8
42   7.0  19.0     56kgs     Dewey   McDuck        71   f  000-6
54   7.0  19.0     56kgs     Dewey   McDuck        78   f  061-2
66   7.0  19.0     56kgs     Dewey   McDuck        75   f  121-8
7    8.0  32.0     78kgs     Sc*py      Doo        78   m  000-6
19   8.0  32.0     78kgs     Sc*py      Doo        76   m  061-2
31   8.0  32.0     78kgs     Sc*py      Doo        75   m  121-8
43   8.0  32.0     78kgs     Sc*py      Doo         -   f  000-6
55   8.0  32.0     78kgs     Sc*py      Doo         -   f  061-2
67   8.0  32.0     78kgs     Sc*py      Doo         -   f  121-8
8   10.0  12.0     45kgs     Louie   McDuck         -   m  000-6
20  10.0  12.0     45kgs     Louie   McDuck         -   m  061-2
32  10.0  12.0     45kgs     Louie   McDuck         -   m  121-8
44  10.0  12.0     45kgs     Louie   McDuck        92   f  000-6
56  10.0  12.0     45kgs     Louie   McDuck        95   f  061-2
68  10.0  12.0     45kgs     Louie   McDuck        87   f  121-8
9   11.0  36.1     60kgs     Henry      Nam        78   m  000-6
21  11.0  36.1     60kgs     Henry      Nam        75   m  061-2
33  11.0  36.1     60kgs     Henry      Nam        72   m  121-8
45  11.0  36.1     60kgs     Henry      Nam         -   f  000-6
57  11.0  36.1     60kgs     Henry      Nam         -   f  061-2
69  11.0  36.1     60kgs     Henry      Nam         -   f  121-8